<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orOrganizationUnit">
            <h2><span jhiTranslate="sampleApp.orOrganizationUnit.detail.title">Or Organization Unit</span> {{ orOrganizationUnit.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sampleApp.orOrganizationUnit.name">Name</span></dt>
                <dd>
                    <span>{{ orOrganizationUnit.name }}</span>
                </dd>
                <dt><span jhiTranslate="sampleApp.orOrganizationUnit.parentId">Parent Id</span></dt>
                <dd>
                    <span>{{ orOrganizationUnit.parentId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/or-organization-unit', orOrganizationUnit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
